@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 239 0% 100%;
    --foreground: 239 0% 10%;
    --card: #efefef;
    --card-foreground: 239 0% 15%;
    --popover: 239 0% 100%;
    --popover-foreground: 239 95% 10%;
    --primary: 239 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 239 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 201 10% 95%;
    --muted-foreground: 239 0% 40%;
    --accent: 201 10% 90%;
    --accent-foreground: 239 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 239 0% 100%;
    --border: 239 20% 82%;
    --input: 239 20% 50%;
    --ring: 239 0% 0%;
    --radius: 0rem;
  }
  .dark {
    --background: 239 10% 10%;
    --foreground: 239 0% 100%;
    --card: #000000;
    --card-foreground: 239 0% 100%;
    --popover: 239 10% 5%;
    --popover-foreground: 239 0% 100%;
    --primary: 239 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 239 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 201 10% 25%;
    --muted-foreground: 239 0% 65%;
    --accent: 201 10% 25%;
    --accent-foreground: 239 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 239 0% 100%;
    --border: 250 0% 100%;
    --input: 239 20% 50%;
    --ring: 239 0% 0%;
    --radius: 0rem;
  }
}

/* card class */
@layer utilities {
  .clip-custom-card {
    position: relative;
    border: 0px solid red;
    clip-path: polygon(
      0px 0px,
      /* Ponto 1: Canto superior esquerdo */ calc(100% - 27px) 0px,
      /* Ponto 2: Corta 27px da borda superior direita */ 100% 27px,
      /* Ponto 3: Canto superior direito com corte diagonal */ 100% 100%,
      /* Ponto 4: Canto inferior direito */ 27px 100%,
      /* Ponto 5: Corta 27px da borda inferior esquerda */ 0px calc(100% - 27px)
        /* Ponto 6: Canto inferior esquerdo com corte diagonal */
    );
  }

  /* Aplica o estilo da borda somente no modo escuro */
  .dark .clip-custom-card {
    border: 2px solid hsl(var(--border));
  }

  /* Estilo condicional para o pseudo-elemento `::after` no dark mode */
  .dark .clip-custom-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    rotate: 45deg;
    width: 100px;
    height: 4px;
    background-color: hsl(var(--border));
    border: 2.8px solid hsl(var(--border));
    pointer-events: none;
  }

  /* Estilo condicional para o pseudo-elemento `::before` no dark mode */
  .dark .clip-custom-card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -30px;
    rotate: 45deg;
    width: 100px;
    height: 4px;
    background-color: hsl(var(--border));
    border: 2.8px solid hsl(var(--border));
    pointer-events: none;
  }
}

/* button class */
@layer utilities {
  .clip-custom-button {
    position: relative;
    border: 0px solid red;
    clip-path: polygon(
      0px 0px,
      /* Ponto 1: Canto superior esquerdo */ calc(100% - 13px) 0px,
      /* Ponto 2: Corta 13px da borda superior direita */ 100% 13px,
      /* Ponto 3: Canto superior direito com corte diagonal */ 100% 100%,
      /* Ponto 4: Canto inferior direito */ 13px 100%,
      /* Ponto 5: Corta 13px da borda inferior esquerda */ 0px calc(100% - 13px)
        /* Ponto 6: Canto inferior esquerdo com corte diagonal */
    );
  }

  /* Aplica o estilo da borda somente no modo escuro */
  .dark .clip-custom-button {
    border: 2px solid hsl(var(--border));
  }

  /* Estilo condicional para o pseudo-elemento `::after` no dark mode */
  .dark .clip-custom-button::after {
    content: "";
    position: absolute;
    top: 0;
    right: -45px;
    rotate: 45deg;
    width: 100px;
    height: 4px;
    background-color: hsl(var(--border));
    border: 2.8px solid hsl(var(--border));
    pointer-events: none;
  }

  /* Estilo condicional para o pseudo-elemento `::before` no dark mode */
  .dark .clip-custom-button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -45px;
    rotate: 45deg;
    width: 100px;
    height: 4px;
    background-color: hsl(var(--border));
    border: 2.8px solid hsl(var(--border));
    pointer-events: none;
  }
}

/* select class */
@layer utilities {
  .clip-custom-select {
    position: relative;
    border: 0px solid red;
    clip-path: polygon(
      0px 0px,
      /* Ponto 1: Canto superior esquerdo */ calc(100% - 13px) 0px,
      /* Ponto 2: Corta 13px da borda superior direita */ 100% 13px,
      /* Ponto 3: Canto superior direito com corte diagonal */ 100% 100%,
      /* Ponto 4: Canto inferior direito */ 13px 100%,
      /* Ponto 5: Corta 13px da borda inferior esquerda */ 0px calc(100% - 13px)
        /* Ponto 6: Canto inferior esquerdo com corte diagonal */
    );
  }

  /* Aplica o estilo da borda somente no modo escuro */
  .clip-custom-select {
    border: 2px solid hsl(var(--border));
  }

  /* Estilo condicional para o pseudo-elemento `::after` no dark mode */
  .clip-custom-select::after {
    content: "";
    position: absolute;
    top: 0;
    right: -45px;
    rotate: 45deg;
    width: 100px;
    height: 4px;
    background-color: hsl(var(--border));
    border: 2.8px solid hsl(var(--border));
    pointer-events: none;
  }

  /* Estilo condicional para o pseudo-elemento `::before` no dark mode */
  .clip-custom-select::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -45px;
    rotate: 45deg;
    width: 100px;
    height: 4px;
    background-color: hsl(var(--border));
    border: 2.8px solid hsl(var(--border));
    pointer-events: none;
  }
}
